{% extends 'base.html' %}
{% block content %}

  {% for article in headlines %}
  
  <div class='card' style="width:30%">
    <img class='card-img-top' src='{{article.urlToImage}}'>
    <div class='card-body'>
      <div class='card-title' style='color:olivedrab;'>{{ article.title}}</div>
      <div class='card-text'>
        {{article.description}}<br>
        <p style='color:olivedrab;'>Author: {{article.author}}</p>
      </div>
    </div>
    <div class='card-footer'>
      <a href='{{article.url}}'>view full article</a>
    </div>
  </div>

  {% endfor %}
{% endblock %}