{% extends 'base.html' %}
{% block content %}
  <h1>All News </h1>
  <hr>
  {% for news in ww %}
  
  <div class='card' style="width:30%">
    <img class='card-img-top' src='{{news.urlToImage}}'>
    <div class='card-body'>
      <div class='card-title' style='color:olivedrab;'>{{ news.title}}</div>
      <div class='card-text'>
        {{news.description}}<br>
        <p style='color:olivedrab;'>Author: {{news.author}}</p>
        <p class = "date">Posted on:{{news.publishedAt}}</p>
      </div>
    </div>
    <div class='card-footer'>
      <a href='{{news.url}}'>view full article</a>
    </div>
  </div>

  {% endfor %}
{% endblock %}